.home {
  /* width: 100%; */
  max-width: 1024px;
  margin: 10px auto;
  padding: 10px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 30px;
  width: 40%;
  padding: 5px 10px;
  background-color: var(--secondary-background);
  border: 2px solid var(--secondary-accent-color);
  color: var(--primary-text);
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  transition: width 0.3s ease-in-out;
}

.search input:focus {
  width: 60%;
}

.initial-result-message {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.page-number {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 7px;
}

.page-btn {
  padding: 10px 20px;
  margin: 0px 20px;
  width: 150px;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.page-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-accent-color);
  color: var(--primary-background);
}
