.home {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 30px;
  width: 40%;
  padding: 5px 10px;
  background-color: var(--primary-dark-background);
  border: 2px solid var(--secondary-text);
  color: var(--primary-text);
  font-size: 16px;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.search input:focus {
  width: 70%;
}
